$breakpoint-smlaptop: 991px;
$breakpoint-tablet: 768px;
$breakpoint-phone: 575px;

header{
  padding-right: 100px;
  width:100%;
  height:12%;
  background: linear-gradient(90deg, #5A4BE6 0.26%, #73AFF7 47.1%, #93D0D9 99.8%);
  .logo{
    color: #CFE0F4;
    font-size:2em;
  }
  .logo-left{
    visibility: hidden;
  }
  .language{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    letter-spacing: -0.2px;
    color:white;
  }
  .active_lg{
    color: #587BC3;
  }
  @media (max-width: $breakpoint-tablet) {
    .logo-left{
      visibility: visible;
    }
    .logo-center{
      visibility: hidden;
    }

  }
}
@media (max-width: $breakpoint-tablet) {
  header {
    padding: 0;
  }
}
main{
  .add-credit-card{

    text-align: center;
    line-height: 34px;
    font-size: 32px;
    margin-top: 70px;
  }
  .container{
    margin-top: 20px;
  }
  .box{
    width:80%;
    height:100%;
    border: 1px solid #E4E4E4;
    box-sizing: border-box;
    border-radius: 4px;
    padding-bottom: 30px;
    &-card{
      width:45%;
      padding-top:30px;
      text-align: left;
      label{
        display: none;
        font-family: Roboto, serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #FF8D8D;

      }
      input{
        border: 1px solid #CCCCCC;
        border-radius: 4px;
        height:50px;
        margin-top:10px;
        text-align: center;
      }
      &-label{
        font-weight: bold;
      }
      &-number{
        width:100%;
      }
      &-date{
        width:48%;
        margin-right:2%;
      }
      &-cvv{
        width:48%;
      }
      &-text{
        font-family: Core Sans G, serif;
        font-size: 16px;
        line-height: 20px;
        color: #808080;
        text-align: center;
        word-break: break-word;
        width:100%;
      }
      &-submit{
        background: royalblue;
        border-radius: 4px;
        outline:none;
        width:100%;
        color:white;
        &:hover{
          border:2px solid lightskyblue;
        }
      }

    }

  }
  @media (max-width: $breakpoint-smlaptop) {
    .box {
      width: 80%;
      &-card {
        width: 60%;
      }
    }
  }
  @media (max-width: $breakpoint-tablet) {
    .add-credit-card{
      margin-top: 20px;
    }
    .box {
      width: 95%;
      &-card {
        width: 90%;
      }
    }
  }
  @media (max-width: $breakpoint-phone) {
    .box{
      &-card{
        width: 95%;
        &-label{
          display: none;
        }
      }
    }
  }
}
